.container {
    background: #ffffff;
    width: 960px;
}

.contact {
    width: 50%;
    margin-top: 40px;
    padding: 10px;
    color: #4aaaa5;
}

.portfolio {
    background: #ffffff;
    width: 80%;
    margin-top: 40px;
    z-index: 1;
}


.contact h2, input {
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 1.5em;
}

.contact input {
    font: 400 13.3333px Arial;
}

button {
    background: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 12px, 24px;
    font-size: 14px;
}

.myname {
    background: #4aaaa5;
    padding: 20px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    font-size: 36px;
    font-weight: 400;  

}

.nav-links {
    padding-top: 35px;
}

.nav-links a{
    margin: 8px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    color: #777777;
}

.nav-border {
    border: solid 1px #cccccc;
    
}

.aboutme {
    background: #ffffff;
    border: solid 1px #dddddd;
    margin-top: 40px;
    margin-bottom: 60px;

}

.aboutme h4, .portfolio h4{
    color: #4aaaa5;
}

.aboutme p {
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    color: #777777;
}

img {
    height: 200px;
    width: 200px;
    float: left;
    margin: 12px;
}

#footer1 {
    background: #4aaaa5;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

#footer2 {
    background: #666666;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.images {
    margin-top: 20px;
    margin-left: 220px;
    padding-bottom: 20px;
    width: 50%;
    background: white;
}

#img1, #img2, #img3, #img4, #img5, #img6 {
    background: #4aaaa5;
    width: 200px;
    height: 20%;
    margin-top: 160px;
    margin-left: 12px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 1;
} 

#img1 p, #img2 p, #img3 p, #img4 p, #img5 p, #img6 p {
    color: #ffffff;
    font-weight: 400;
}